<!DOCTYPE html>
<html>

<>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Registration</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
    <style>
        .register-photo {
    background: #f1f7fc;
    padding: 80px 0
}

.register-photo .image-holder {
    display: table-cell;
    width: auto;
    background-size: cover
}

.register-photo .form-container {
    display: table;
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .1)
}

.register-photo form {
    display: table-cell;
    width: 400px;
    background-color: #fff;
    padding: 40px 60px;
    color: #505e6c
}

@media (max-width:991px) {
    .register-photo form {
        padding: 40px
    }
}

.register-photo form h2 {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px
}

.register-photo form .form-control {
    background: #f7f9fc;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: 0;
    color: inherit;
    text-indent: 6px;
    height: 40px
}

.register-photo form .form-check {
    font-size: 13px;
    line-height: 20px
}

.register-photo form .btn-primary {
    background: #f4476b;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 35px;
    text-shadow: none;
    outline: 0 !important
}

.register-photo form .btn-primary:active,
.register-photo form .btn-primary:hover {
    background: #eb3b60
}

.register-photo form .btn-primary:active {
    transform: translateY(1px)
}

.register-photo form .already {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: .9;
    text-decoration: none
}
    </style>
</head>

<body style="background: rgb(48,59,71);">
    <!-- Start: Registration Form with Photo -->
    <div class="register-photo" style="color: var(--dark);background: rgb(48,59,71);border-left-color: var(--gray-dark);">
        <!-- Start: Form Container -->
        <div class="form-container" style="border-radius: 0;">
            <!-- Start: Image -->
            <div class="image-holder" style="border-top-left-radius: 50px;border-bottom-right-radius: 0px;background: url('/public/img/reg_bg.png') center / cover no-repeat, var(--dark);border-bottom-left-radius: 50px;"></div><!-- End: Image -->
            <form method="post" style="border-top-right-radius: 0px;border-bottom-left-radius: 0px;background: rgb(38,46,54);">
                <h2 class="text-center" style="color: var(--light);"><strong>Create</strong> an account.</h2>
                <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email" style="background: rgb(38,46,54);border-left-color: rgb(38,46,54);"></div>
                <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password" style="background: rgb(38,46,54);"></div>
                <div class="form-group"><input class="form-control" type="password" name="password-repeat" placeholder="Password (repeat)" style="background: rgb(38,46,54);"></div>
                <div class="form-group">
                    <div class="form-check"><label class="form-check-label" style="color: var(--light);"><input class="form-check-input" type="checkbox">I agree to the license terms.</label></div>
                </div>
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Sign Up</button></div><a class="already" href="#" style="color: var(--light);">You already have an account? Login here.</a>
            </form>
        </div><!-- End: Form Container -->
    </div><!-- End: Registration Form with Photo -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>